* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    overflow-x: hidden;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

th, td {
    font-weight: inherit;
}


body {
    display: flex;
    font-family: "Poppins", serif;
    font-size: 14px;
    font-weight: 500;
    background: rgb(250, 251, 255);
}

.container {
    width: 1355px;
    padding: 0px 5px;  
    margin: 0 auto;
}

.dashboard {
    display: flex;
    width: 100%;
    column-gap: 20px;
    justify-content: space-between;
}

.sidebar {
    display: flex;
    width: 100%;
    max-width: 306px;
    background-color: #fff;
    justify-content: center;

}

.block {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    max-width: 270px;
    max-height: 1198px;
    padding: 36.76px 10px 0px 10px;
}

.header {
    display: flex;
    align-items: center;
    padding-bottom: calc(40px + 12 * ((100vw - 1060px) / (1365 - 1060)));
}

.logo {
    padding-right: calc(5px + 3 * ((100vw - 1115px) / (1365 - 1115))); 
}

.title {
    padding-right: 4px;
    font-size: calc(22px + 4 * ((100vw - 1060px) / (1365 - 1060)));
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0.21px;
}

.version {
    padding: 19px 0px 7px 0px;
    color: #838383;
    font-size: 10px;
}

.nav {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 1px;
    width: 100%;
    gap: 18px;

}

.item {
    display: flex;
    align-items: center;
    flex: 1; 
    font-size: 14px;

}

.icon {
    padding-right: 14px;
}

.link {
    color: #9197B3;
    line-height: 21px; 
    width: 100%;
    padding-right: 20px;

}

/* .section {
    display: flex;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
    background-color: #fff;
} */

.main-content {
    position: relative;
    justify-self: end;
    width: 100%;
    /* padding-top: calc(0px + 20 * ((100vw - 955px) / (1365 - 955)));  */
    padding-top: 20px;
    max-width: 968px;
}

.main-content__header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: calc(10px + 10 * ((100vw - 955px) / (1365 - 955))); 
    padding-bottom: calc(10px + 41 * ((100vw - 955px) / (1365 - 955))); 
    
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.18px;
    background-color: rgb(250, 251, 255);
    z-index: 1;
}

.section {
    display: flex;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
    background-color: #fff;
}

.main-content__container {
    width: 100%;
    min-width: 302px;
    max-width: 915px;
    padding: 0 15px;
}

.search-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 0px 38px 0px;
    padding-top: calc(15px + 16 * ((100vw - 808px) / (1365 - 808)));    
    padding-left: calc(0px + 5 * ((100vw - 1115px) / (1365 - 1115))); 
    padding-bottom: calc(15px + 23 * ((100vw - 808px) / (1365 - 808)));    
    
    gap: 20px 30px;
}


.section__title {
    padding-bottom: 7px;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: -0.2px;
    white-space: nowrap;
}

.section__subtitle {
    color: rgb(22, 192, 152);
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.2px;
}

.section__input-wrapper {
    padding: 7px 10px 0px 0px;
}

.section__input-container {
    display: flex;
    width: 216px;
    height: 38px;
    border-radius: 10px;
    background: rgb(249, 251, 255);
    color: rgb(181, 183, 192);
}

.section__search-icon {
    padding: 7px 8px;
}

.section__input {
    background-color: inherit;
}

/* --------------------------------------- */

.table {
    width: 100%;
    padding-bottom: 28px;
    line-height: 21px;
    letter-spacing: -0.12px;
}

.table-header__cell {
    color: rgb(181, 183, 192);
    padding-bottom: 12.5px;
}

.table-header__cell, .table-body__group {
    border-bottom: 1px solid rgb(238, 238, 238);
    white-space: nowrap;
    text-align: left;
}

.table-header__cell_status, .table-body__indicator {
    width: 80px;
    text-align: center;
}

.table-body__group {
    padding: 19px 0px 18px 0px;
}


.table-body__group_indicator {
    text-align: center;
}

.table-body__key {
    display: none;    
}

.table-body__indicator {
    display: inline-block;
    width: 80px;
    padding: 3px 12px;
    text-align: center;
    border: 1px solid rgb(223, 4, 4);
    border-radius: 4px;
    background: rgb(255, 197, 197);
    color: rgb(223, 4, 4);
}

.table-body__indicator_active {
    border: 1px solid rgb(0, 176, 135);
    background: rgba(22, 192, 152, 0.38);
    color: rgb(0, 135, 103);
}

/* ---------------------------------------------------- */

.pagination {
    grid-area: pagination;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 41.35px;
}

.pagination__info {
    color: #B5B7C0;
    white-space: nowrap;
}

.pagination__controls {
    display: flex;
    gap: 12.5px;
}

.pagination__page {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid rgb(238, 238, 238);
    background: rgb(245, 245, 245);
    color: #000;
}

.pagination__page-active {
    background: #5932EA;
    border: 1px solid rgb(89, 50, 234);
    color: white
}

.pagination__page-more {
    display: flex;
    width: 9px;
    justify-content: center;
    align-items: flex-end;
    text-align: left;
    padding-bottom: 4px;
    background: none;
    border: none;
}


/* -------------------------------------------------------- */

@media (max-width: 1115px) {
    .header {
        /* padding-left: 5px; */
        /* padding-left: calc(0px + 5 * ((100vw - 1115px) / (1365 - 1115)));  */
        /* padding-bottom: calc(0px + 5 * ((100vw - 1115px) / (1365 - 1115)));   */

    }    

    .header__img {
        padding-right: 5px;
    }
}

    @media (max-width: 1060px) {
        .sidebar {
            width: max-content;
        }

        .sidebar__block {
            width: max-content;
            padding-left: 5px;
            padding-right: 5px;
        }

        .header {
            justify-content: center;
            padding-left: 0px;
        }

        .header__title {
            display: none;
        }

        .sidebar__item, .sidebar__title {
            flex-direction: column;
            align-items: center;
            font-size: 12px;
        }

        .sidebar__icon {
            max-width: 40px;
            padding: 0px;
        }

        .sidebar__link {
            padding: 0px;
            justify-content: center;
        }

        .sidebar__arrow-right {
            display: none;
        }

        .sidebar__evano-block {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .sidebar__evano-img {
            padding: 0px;
        }

        .sidebar__name {
            text-align: center;
        }

        .sidebar__position {
            width: 60px;
            text-align: center;
        }
    }

    @media (max-width: 965px) {
        .container {
            padding: 0px;
        }
    }

    @media (max-width: 955px) {
        .sidebar {
            position: fixed;
            top: 56px;
            max-height: 1138px;
            transition: transform 0.5s;
            transform: translateX(-100%);
            z-index: 1;
            background: rgb(250, 251, 255);
            /* background: rgb(70, 86, 148); */
        }

        .sidebar.open {
            transform: translateX(0%);
        }

        .sidebar__block {
            padding-top: 10px;
        }

        .header {
            padding-bottom: 10px;
            justify-content: start;
        }

        .section {
        margin-top: 56px;

        }

        .main-content__burger {
            display: flex;
        }
        
        .main-content__header {
            position: fixed;
            width: 100%;
            padding: 10px 0px 10px 10px;

        }

        .section__input-wrapper {
            padding: 0;
        }
    }

@media (max-width: 808px) {
    .search-block {
        padding: 15px 0px 15px 0px;
    }
    
    .table, .table-body, .table-body__row, .table-body__group, .table-body__group:nth-child(odd), .table-body__group:nth-child(even) {
        display: block;
        width: initial;
        text-align: initial;
    }


    .table-header {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table-body__group {
        position: relative;
        display: flex!important;     
    }

    .table-body__group:first-child:before {
        content: "";
        position: absolute;
        top: 0;
        left: -15px;
        width: 100vw;
        height: 100%;
        background-color: #7c7c7c2c;
    }

    .table-body__key {
        min-width: 140px;
    }

    .table-body__key, .table-body__value {
        text-align: left;
        display: block;
        width: 100%;
    }

 /* ---------------------------------------------------------------------------------- */

    .pagination {
        flex-direction: column;
        align-items: end;
        gap: 20px

    }
    
    .pagination__info {
        color: #B5B7C0;
        white-space: nowrap;
    }
    
    .pagination__controls {
        display: flex;
        gap: 12.5px;
    }
    
}

@media (max-width: 440px) {
    .search-block {
        flex-direction: column;
        align-items: start;
    }
}


  @media (min-width: 1365px) {
    .header {
        padding-bottom: 52px;
    
    }

    .header__img {
        padding-right: 8px;
    }

    .main-content {
        padding-top: 20px;
        
    }

    .main-content__header {
        padding: 20px 0px 51px 0px;
    }

    .search-block {
        padding: 31px 0px 38px 0px;
    }

    .header__title {
        font-size: 26px
    }
}


