* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    overflow-x: hidden;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

th, td {
    font-weight: inherit;
}


body {
    display: flex;
    font-family: "Poppins", serif;
    font-size: 14px;
    font-weight: 500;
    background: rgb(250, 251, 255);
}

.container {
    width: 1355px;
    padding: 0px 5px;  
    margin: 0 auto;
}

.dashboard {
    display: flex;
    width: 100%;
    column-gap: 20px;
    justify-content: space-between;
}

.sidebar {
    display: flex;
    width: 100%;
    max-width: 306px;
    background-color: #fff;
    justify-content: center;

}

.block {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    max-width: 270px;
    max-height: 1198px;
    padding: 36.76px 10px 0px 10px;
}

.header {
    display: flex;
    align-items: center;
    padding-bottom: calc(40px + 12 * ((100vw - 1060px) / (1365 - 1060)));

}

.logo {
    padding-right: calc(5px + 3 * ((100vw - 1115px) / (1365 - 1115))); 
}

.title {
    padding-right: 4px;
    font-size: calc(22px + 4 * ((100vw - 1060px) / (1365 - 1060)));
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0.21px;
}

.version {
    padding: 19px 0px 7px 0px;
    color: #838383;
    font-size: 10px;
}

.nav {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 1px;
    width: 100%;
    gap: 18px;

}

.item {
    display: flex;
    align-items: center;
    flex: 1; 
    font-size: 14px;

}

.icon {
    padding-right: 14px;
}

.link {
    color: #9197B3;
    line-height: 21px; 
    width: 100%;
    padding-right: 20px;

}