div 
  div.sidebar
    div.block
      div.header
      img(src='')
      h1.title Dasboard 
      small.version v.01
        nav 
          ul(id="navigation")
            each item in ['Index', 'Product', 'Customers', 'Income', 'Promote', 'Help']
              li
                a(href="/" + item)=item
        