.sidebar
  .block
    .header
      //- img(src='/src/images/logo.png')
      h3.title Dasboard 
      small.version v.01
      
    nav.nav
      ul.list(id="navigation")
        each item in ['Index', 'Product', 'Customers', 'Income', 'Promote', 'Help']
          li.item 
            //- img
            a.link(href="/" + item)=item
        