- let items = ['Dashboard', 'Product', 'Customers', 'Income', 'Promote', 'Help']
- let imgsPath = "/src/assets/sidebar-icons/"
- let imgsFormat = '.svg'


.sidebar
  .block
    .header
      img.logo(src="/src/assets/logo.svg" alt="logo")
      h3.title Dashboard 
      small.version v.01
      
    nav.nav
      ul.list(id="navigation")
        each item in items
          li.item 
            img.icon(src=imgsPath + item.toLowerCase() + imgsFormat alt=item)
            //- img.img(src="/src/assets/sidebar-icons/dashboard.svg" alt="dashboard")
            //- a.link(href="/" + item)=item
            a.link(href="/customers/customers")=item
            img.img(src="/src/assets/sidebar-arrows/gray-arrow-right.svg" alt="arrow")

        