doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/src/styles/main.css")
    script(src="/src/scripts/main.js", type="module", defer)
  body
    .container 
      .dashboard  
        include ../components/sidebar.pug
        block content

